.container
  .columns
  - @shopping_lists.each do |sl|
    -if !sl.shopping_list_items.empty?
      .columns
        .column.is-6.section
          = render 'shopping_list', sl: sl
          = render 'form', sl: sl
        .column.is-6.section
          = render 'meals', sl: sl
