.container
  .columns
    .column.is-three-fifths.section
      - @shopping_lists.each do |sl|
        = render 'shopping_list', sl: sl

    .column.section
      .tile.is-ancestor
      Meals on shopping list
      - @shopping_lists.all.each do |sl|
        = render 'meals', sl: sl