.container
  .columns
    .column.is-three-fifths.section
      .panel
        = render 'shopping_list', sl: @shopping_list

    .column.section
      .tile.is-ancestor
      Meals on shopping list
      = render 'meals', sl: @shopping_list
