.container
  .columns
  -if !@shopping_list.shopping_list_items.empty?
    .columns
      .column.is-6.section
        = render 'shopping_list', sl: @shopping_list
        = render 'form', sl: @shopping_list
      .column.is-6.section
        = render 'meals', sl: @shopping_list
